<div id="body-container">
    <div id="profile_panel">
        <img src="<%= user_image %>" />
        Witaj <%= user_name %>!
        <hr>
    </div>
    <div id="last_action_panel">
        Ostatnie akcje: <br />
        - Podlano kwiat Pan Kokatus o godz. 15:49:12 2021-01-23
        - Podlano kwiat Hiacyncik o godz.  16:20:39 2021-01-23
        <br />
        <br />
        <br />
        <br /> <!-- Tu 4x <br /> bo domyślnie aplikacja będzie mogła pokazać ~5-6 ostatnich akcji -->
        <hr>
    </div>
    <div id="statistics_panel">
        Wydarzenia: <br />
        Twoje kwiaty są w świetnym humorze, o wiele lepsze niż u sąsaida. :)
    </div>
</div>
