<div class="container text-center">
    <form action="/plant" method="post">
        <div class="form-row row">
            <div class="form-group col">
                <label for="image">Link do zdjęcia</label>
                <input class="form-control" id="image" type="text" name="image">
            </div>
            <div class="form-group col">
                <label for="image">Robot</label>
                <% if(robots) { %>
                <select id="robotId" name="robotId">
                        <% robots.forEach( robot => { %>
                            <option value="<%= robot.id ;%>" id="robot_<%= robot.id ;%>">
                                <%= robot.name ;%>
                            </option>
                        <% }); %>

                </select>
                <% } else {%>
                    <input id="robotId" type="number" name="robotId">
                <% }%>


                <input class="form-control" id="robotId" type="text" name="robotId">
                <label for="port_color">Kolor portu</label>
                <input class="form-control" id="port_color" type="text" name="port_color">
            </div>
        </div>
        <div class="form-group">
            <label for="name">Nazwa rośliny</label>
            <input class="form-control" id="name" type="text" name="name">
        </div>
        <div class="form-group">
            <label for="place">Miejsce położenia</label>
            <input class="form-control" id="place" type="text" name="place">
        </div>
        <div class="form-group">
            <label for="type">Gatunek/typ</label>
            <input class="form-control" id="type" type="text" name="type">
        </div>
        <div class="form-row row">
            <div class="col">
                <label for="min_water">min. nawodnienie</label>
                <input class="form-control" id="min_water" type="text" name="min_water">
            </div>
            <div class="col">
                <label for="max_water">max. nawodnienie</label>
                <input class="form-control" id="max_water" type="text" name="max_water">
            </div>
        </div>
        <input type="hidden" name="_csrf" value="<%- _csrf; %>"/>
        </br>
        <input id="create_button" class="btn btn-primary text-center" type="submit" placeholder="Stwórz">
    </form>
</div>
