<div id="body-container">
    <div id="flowers_panel">
        <% if(robots) { %>
            <% robots.forEach( robot => { %>
                <div id="plant_<%= robot.id %>">
                    <img class="plant_image" src="<%= robot.image %>"><br/>
                    Nazwa: <%= robot.name %><br/>
                    Typ: <%= robot.location %>
                    <hr>
                </div>
            <% }) %>
            <% } else { %>
                No robots found
            <% }%>
    </div>
</div>
